@import url('https://fonts.googleapis.com/css?family=David+Libre');

  body {
    font-family: 'David Libre', serif;
    line-height: 1.25;
    background-color: #ffffffff;
    color: #000000;
    margin: 50px auto 100px auto;
    width: 900px;
  }

  header {
      margin: 0 0 40px 0;
      text-align: center;
      text-transform: uppercase;
  }

  h1 {
      font-size: 22px;
  }

  section.slideshow {
      width: 900px;
      height: 600px;
      cursor: pointer;
      position: relative;
  }

  section.slideshow img {
      position: absolute;
      top: 0;
      left: 0;
      width: 900px;
      height: 600px;
  }